/*
 * sama5d3xcm.dtsi - Device Tree Include file for SAMA5D3x CPU Module
 *
 *  Copyright (C) 2013 Atmel,
 *                2013 Ludovic Desroches <ludovic.desroches@atmel.com>
 *
 * Licensed under GPLv2 or later.
 */

/ {
	compatible = "atmel,sama5d3xcm", "atmel,sama5d3", "atmel,sama5";

	chosen {
		bootargs = "rootfstype=ubifs ubi.mtd=5 root=ubi0:rootfs";
		stdout-path = "serial0:115200n8";
	};

	memory {
		reg = <0x20000000 0x20000000>;
	};

	clocks {
		slow_xtal {
			clock-frequency = <32768>;
		};

		main_xtal {
			clock-frequency = <12000000>;
		};
	};

	ahb {
		apb {
			spi0: spi@f0004000 {
				cs-gpios = <&pioD 13 0>, <0>, <0>, <0>;
			};
		};

		nand0: nand@60000000 {
			nand-bus-width = <8>;
			nand-ecc-mode = "hw";
			atmel,has-pmecc;
			atmel,pmecc-cap = <4>;
			atmel,pmecc-sector-size = <512>;
			nand-on-flash-bbt;
			status = "okay";

			at91bootstrap@0 {
				label = "at91bootstrap";
				reg = <0x0 0x40000>;
			};

			bootloader@40000 {
				label = "bootloader";
				reg = <0x40000 0x80000>;
			};

			bootloaderenv@c0000 {
				label = "bootloader env";
				reg = <0xc0000 0xc0000>;
			};

			dtb@180000 {
				label = "device tree";
				reg = <0x180000 0x80000>;
			};

			kernel@200000 {
				label = "kernel";
				reg = <0x200000 0x600000>;
			};

			rootfs@800000 {
				label = "rootfs";
				reg = <0x800000 0x0f800000>;
			};
		};
	};

	leds {
		compatible = "gpio-leds";

		/*
		 * cled1 does not controlled. It indicate the powered state. 
		 */

		cled2 {
			label = "Status";
			gpios = <&pioD 31 GPIO_ACTIVE_HIGH>;	/* PD31 LED-18*/
			linux,default-trigger = "heartbeat";
		};

		cled3 {
			label = "cled3";
			gpios = <&pioD 30 GPIO_ACTIVE_HIGH>; 	/*PD30 LED-19*/
			default-state = "off";	
		};

		cled4 {
			label = "cled4";
			gpios = <&pioD 29 GPIO_ACTIVE_HIGH>; 	/*PD29 LED-20*/
			default-state = "off";	
		};

		cled5 {
			label = "cled5";
			gpios = <&pioD 28 GPIO_ACTIVE_HIGH>; 	/*PD28 LED-21*/
			default-state = "off";	
		};
		
		cled6 {
			label = "cled6";
			gpios = <&pioD 27 GPIO_ACTIVE_HIGH>; 	/*PD27 LED-22*/
			default-state = "off";	
		};

		cled7 {
			label = "cled7";
			gpios = <&pioD 26 GPIO_ACTIVE_HIGH>; 	/*PD26 LED-23*/
			default-state = "off";	
		};

		cled8 {
			label = "cled8";
			gpios = <&pioD 22 GPIO_ACTIVE_HIGH>; 	/*PD22 LED-24*/
			default-state = "off";	
		};
	};


	do {
		compatible = "gpio-leds";
		do1 {
			label = "do1";
			gpios = <&pioC 13 GPIO_ACTIVE_HIGH>; 	/*PC13 LED-9*/
			default-state = "off";	
		};
		
		do2 {
			label = "do2";
			gpios = <&pioA 13 GPIO_ACTIVE_HIGH>; 	/*PA13 LED-10*/
			default-state = "off";	
		};

		do3 {
			label = "do3";
			gpios = <&pioA 12 GPIO_ACTIVE_HIGH>; 	/*PA12 LED-11*/
			default-state = "off";	
		};

		do4 {
			label = "do4";
			gpios = <&pioA 11 GPIO_ACTIVE_HIGH>; 	/*PA11 LED-12*/
			default-state = "off";	
		};

		do5 {
			label = "do5";
			gpios = <&pioA 10 GPIO_ACTIVE_HIGH>; 	/*PA10 LED-13*/
			default-state = "off";	
		};

		do6 {
			label = "do6";
			gpios = <&pioA 9 GPIO_ACTIVE_HIGH>; 	/*PA9 LED-14*/
			default-state = "off";	
		};

		do7 {
			label = "do7";
			gpios = <&pioA 1 GPIO_ACTIVE_HIGH>; 	/*PA1 LED-15*/
			default-state = "off";	
		};

		do8 {
			label = "do8";
			gpios = <&pioA 0 GPIO_ACTIVE_HIGH>; 	/*PA0 LED-16*/
			default-state = "off";	
		};
	};

	rs485c{
		compatible = "gpio-leds";

		cs1 {
			label = "c2";
			gpios = <&pioD 16 GPIO_ACTIVE_HIGH>; 	/*PD16 RS485-2 control*/
			default-state = "off";	
		};

		cs3 {
			label = "c3";
			gpios = <&pioE 24 GPIO_ACTIVE_HIGH>; 	/*PE24 RS485-3 control*/
			default-state = "off";	
		};

		cs4 {
			label = "c4";
			gpios = <&pioE 17 GPIO_ACTIVE_HIGH>; 	/*PE17 RS485-4 control*/
			default-state = "off";	
		};

		cs6 {
			label = "c1";
			gpios = <&pioA 17 GPIO_ACTIVE_HIGH>; 	/*PA17 RS485-1 control*/
			default-state = "off";	
		};

	};

	beeper{
		compatible = "gpio-leds";
		beep {
			label = "beep";
			gpios = <&pioE 23 GPIO_ACTIVE_HIGH>;		
			default-state = "off";	
		};

		pwgprs {
			label = "pw-4g";
			gpios = <&pioA 20 GPIO_ACTIVE_LOW>;		
			default-state = "on";	
		};
	};


};
